<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dummy.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @dummy.desc %>
</p>

<p>
  <b>Priority:</b>
  <%= @dummy.priority %>
</p>


<%= link_to 'Edit', edit_dummy_path(@dummy) %> |
<%= link_to 'Back', dummies_path %>
