<h1>Reservations#index</h1>

<div id="reservations">
	<h2 id="month">
		<%= link_to "<<", params.merge(date: @date.prev_month) %>
		<%= @date.strftime("%B %Y") %>
		<%= link_to ">>", params.merge(date: @date.next_month) %>
	</h2>

	<%= calendar(@date) do |date| %>
		<%= date.day %>
		<% if @bookings.include?(date) %>
			Not available
		<% else %>
		    	<%= link_to " 예 약 " , new_reservation_path(pet_house_id: @pet_house.id) %>
		<% end %>
		
		
	
	<% end %>

</div>