

<div id="search">
	
	<%= form_tag(dummies_path, method: :get) 	do %>

		<%= text_field_tag 'search', params[:search], placeholder: "address"%>
		<%= select_date() %>

		<%= text_field_tag :pets, nil, placeholder: "# of Pets" %>
		<%= submit_tag "Search" %>
	<% end %>

</div>

