

<div id="search">
	
	<%= form_tag(pet_houses_path, method: :get) 	do %>

		<%= text_field_tag :search, params[:search], placeholder: "address"%>
		<%= datetime_select("trip", "departing", :default => 3.days.from_now) %>

		<%= text_field_tag :pets, nil, placeholder: "# of Pets" %>
		<%= submit_tag "Search" %>
	<% end %>

</div>

