<div id="pet_house_new">
	<h1>B&B Registration</h1>
	<%= form_for @pet_house do |f| %>
		<div class="field">
			<%= f.label :title %><br/>
			<%= f.text_field :title %>
		</div>

		<div class="field">
			<%= f.label :address %><br/>
			<%= f.text_field :address  %>
		</div>

		<div class="field">
			<%= f.label :price, "Price per day" %><br/>
			<%= f.text_field :price  %>
			<span class='error'><%= @pet_house.errors[:price].to_sentence if @pet_house.errors[:price] %></span>
		</div>
		
		<div class="field">
			<%= f.label :desc, "Description" %><br/>
			<%= f.text_area :desc, rows: 3 %>
		</div>

		<div class="field">
			<%= f.label :no_of_pets, "No. of Pets" %><br/>
			<%= f.select :no_of_pets, options_for_select([['One', 1],['Two', 2], ['More than 3', 3]])  %>
		</div>

		<div class="field">
			<%= f.label :size, "Size" %><br/>
			<%= f.select :size, %w[S M L XL]  %>
		</div>

		<div class="field">
			<%= f.label :overnight, "Overnight care" %><br/>
			<%= f.check_box :overnight, checked: true  %> Yes
		</div>

		<div class="field">
			<%= f.label :image, "Photo" %><br/>
			<%= f.file_field :image %>
		</div>



		<div class="field">
			<%= f.submit "등록" %>
		</div>
		
		
	<% end %>
</div>

