<div class='content'>
	<div class='logo'>
		<%= link_to 'PetBnB', root_url %>
	</div>
	
	
	<div id="user_nav">
		<% if user_signed_in? %>
			Logged in as <strong><%= current_user.email %></strong>.
			<%= link_to 'Edit profile', edit_user_registration_path %> |
			<%= link_to 'Register Pet house', new_pet_house_path %> |
			<%= link_to "Logout", destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to "Sign up", new_user_registration_path %> |
			<%= link_to "Login", new_user_session_path %>
		<% end %>
		
				
<!--
		<% if current_user %>
			<span>Welcome, <%= current_user.name %></span> | <%= link_to 'Logout', '#' %> 
		<% else %>
			<%= link_to 'Log in', '#' %> or <%= link_to 'Sign up', '#' %>
		<% end %>
		<%= link_to '등 록', new_pet_house_path %>
-->
	</div>
</div>