<!DOCTYPE html>
<html>
<head>
  <title>Petbnb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller].parameterize %>">
	<div id="header">
		<%= render 'header' %>
	</div>
	<div id="contents">
		<%= yield %>
	</div>
	<div id="footer">
		<%= render 'footer' %>
	</div>
</body>
</html>
